---
- name: Ensures /etc/borgmatic.d exists
  file:
    path: /etc/borgmatic.d
    state: directory
    mode: 0700
    owner: root
- name: Add Borgmatic Configurations
  template:
    src: borgmatic_app.yml.j2
    dest: "/etc/borgmatic.d/{{ item.key }}.yml"
    mode: 0600
  with_items: "{{ borgmatic_configs | dict2items }}"
  notify:
    - Init Borgmatic repos
